/* grid mobile areas */
body {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;

    /* grid mobile areas */
    
    /* grid-container */
    display: grid;
    grid-template-areas: "header"
                         "sidebar"
                         "main"
                         "footer";
    grid-template-rows: 50px 50px auto 70px;
    
}

header {
    background-color: #7091F5;
    padding: 0.5rem;

    /* header grid-auto-flow */

    /* grid-items */
    grid-area: header;
}

.header-title {
    color: #FFF;
}

a  {
    text-decoration: none;
}

main {
    background-color: #FFF;
    padding: 0.5rem;

     /* grid-items */
     grid-area: main;
}

.sidebar {
    display: none;
}


/* 
grid-auto-flow: row;
align-content: flex-start; // vertical
justify-items: ; // horizontal

grid-auto-flow: column;
align-content: flex-start; // horizontal
justify-items: ; // vertical

*/

.sidebar-menu {
    /* sidebar grid-container */
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 8px;
}

.sidebar-menu-item {
    transition: 0.5s;
    border-radius: 0.7rem;
    padding: 0.5rem;
}

.sidebar-menu-item:hover {
    opacity: 0.5;
    background-color: azure;
}

.sidebar-menu-item:active {
    background-color: red;
}

footer {
    padding: 0.5rem;
    background-color: #7091F5;

    /* grid-items */

    /* footer grid */
    grid-area: footer;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* grid desktop areas */
    body {
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;

        /* grid desktop areas */
        display: grid;
        grid-template-areas: "header header header header"
                            "sidebar main main main"
                            "footer footer footer footer";
        grid-template-rows: 50px auto 70px;
        grid-template-columns: 1fr repeat(3, 2fr);
    }

    .sidebar {
        background-color: bisque;
        padding: 0.5rem;

        /* grid-items */
        grid-area: sidebar;

        /* sidebar grid-container */
        display: grid;
        grid-auto-flow: row;
        align-content: flex-start;
    }
}